@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Montserrat';
}
nav{
    display: flex;
    background-color: #1C2833;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}
.logo{
    color: white;
    font-size: 26px;
    font-weight: bold;

}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 0 8px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding: 5px 11px;
    transition: 0.5s;
    text-transform: uppercase;
}
nav ul li a:hover, nav ul li a.active{
    background-color: #0a3e6b;
    border-radius: 3px;
}
.manu-btn{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}
/* nav responsive here  */
@media only screen and (max-width: 940px){
    nav ul{
        position: fixed;
        top: 60px;
        left: -100%;
        background-color: #1C2833;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        transition: all 0.5s ease;

    }
    nav ul li{
        margin: 45px 0;
    }
    nav ul li a{
        font-size: 22px;
    }
    nav ul li a:hover, nav ul li a.active{
        background: none;
        color:red;
    }
    .manu-btn{
        display: block;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    #click:checked ~ .manu-btn i::before{
        content: "\f00d";
    }

}


/* hero area  */
header{
    background-image: url('images/header-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    height: 90vh;
}

/* first section here  */
#first-section{
    background-color: #16213E;
    padding-bottom: 50px;
}
.first-section-text{
    text-align: center;
    color: #fff;
    padding: 50px 0;
    letter-spacing: 0.2em;
    font-size: 28px;
    font-weight: bold;
}

.card-parents{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1100px;
    margin: 0 auto;
    grid-gap: 25px;
}
.single-card{
    background-color: #fff;
    text-align: center;
    color: #000000;
    padding: 30px 20px;
    border-radius: 5px;
    border: 2px solid green;
    box-shadow: 5px 5px 10px gray;
}
.single-card i{
    font-size: 40px;
    color: rgb(12, 160, 73);
}
.single-card h2{
    margin: 10px 0;
    font-weight: bold;
}



/* second section code here  */

#second-section{
    background-color: #154360;
    padding: 50px 0 100px 0;
}
.smart-title{
    text-align: center;
    font-size: 35px;
    color: yellow;
    letter-spacing: 0.2em;
    margin-bottom: 30px;
}
.smart-parent{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.smart-text{
    color: #fff;
}
.smart-text h2{
    margin: 20px 0;
    font-size: 30px 0;

}
.smart-text a{
    text-decoration: none;
    font-size: 22px;
    background-color: #bcc907;
    color: #000000;
    padding: 10px 30px;
    margin-top: 40px;
    display: inline-block;
    border-radius: 5px;
    transition: 0.5s;
}
.smart-text a:hover{
    background-color: #fff;
}
/* third section code here  */
.third-section{
    background-image: url(images/about-section.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 150px 0;
}
#about-parents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    color: #fff;
    gap: 30px;
}
.about-iteam-text h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.about-iteam-text ul{
    margin: 20px 0;
}
.about-iteam-text a{
    text-decoration: none;
    font-size: 18px;
    background-color: #bcc907;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    color: #000000;
    transition: 0.5s;

}
.about-iteam-text a:hover{
    background-color: #fff;
}

.about-single-iteam-prents{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}
.about-single-iteam{
    background-color: #fff;
    color: #000000;
    padding: 40px 20px;
    text-align: center;
    border: 2px solid lightgreen;
}
.about-single-iteam h4{
    font-size: 20px;
    padding: 10px 0 20px 0;
}


/* fourth section code here  */
.fourth-section{
    background-color: #154360;
    padding: 100px 0;
    color: #FFF;
}

.advice-parents{
    display: flex;
    margin: 0 200px 0 200px;
    gap: 50px;
}
.advice-img img{
    width: 100%;
}
.single-advice P{
    margin: 20PX 0;
    line-height: 1.4;
    text-align: justify;
}
.single-advice h3{
    font-size: 25px;
    border-bottom: 2px solid #f00707;
    padding-bottom: 20px;
}
.single-advice h4{
    font-size: 25px;
    margin-top: 10px;
}
.single-advice a{
    text-decoration: none;
    background-color: #fff;
    color: #000000;
    padding: 10px 25px;
    border-radius: 40px;
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
    transition: 0.4s;
}
.advice-icon{
    text-align: center;
}
.advice-icon a{
    margin: 0 5px;
    border: 1px solid #000000;
}
.single-advice a:hover{
    background-color: wheat;
}

/* 5th section/ contract section  */
#Contract-section{
    background-image:  url('images/contact.jpg');
    padding: 100px 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
form{
    background-color: #1aaa3955;
    max-width: 50%;
    margin: 0 auto;
    padding: 50px 60px;
    border-radius: 5px;
    border: 5px solid #4493D3;
}
#Contract-section h2{
    font-size: 30px;
    text-align: center;
    color: #fff;
    letter-spacing: 0.1em;
}
#Contract-section p{
    color: #fff;
    text-align: center;
    margin: 30px 0;
}
.form-input{
    display: block;
    width: 100%;
    height: 40px;
    margin: 30px 0;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    border-bottom: 3px solid #4493D3;
    font-size: 18px;
}
.form-input::placeholder{
    color: #830f0f;
    font-weight: bold;
}
.submit-button{
    display: block;
    margin: 0 auto;
    padding: 5px 40px;
    font-size: 20px;
    background: none;
    color: #fff;
    outline-style: ridge;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
}
.submit-button:hover{
    background-color: #4493D3;
}


/* 6th section code  */

.six-section{
    background-color: #07254F;
    color: #FFF;
    padding: 100px 0;
}
.match-parents{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 200px;
    margin-right: 200px;
    grid-gap: 45px;
}
.single-match{
    border: 2px solid #26528F;
    padding: 20px;
}
.single-match i{
    font-size: 40px;
    padding: 0 20px 10px 20px;
}
.single-match h4{
    margin-bottom: 10px;
}
.single-match:nth-child(2){
    border: 2px solid white;
}
.first-class{
    line-height: 1.5;
    letter-spacing: 0.1rem;
}
/* footer part start  */
footer{
    background-color: #154360;
    padding: 100px 0 50px 0;
}
#footer-parent{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    gap: 80px;
}
.single-footer{
    width: 100%;
}
.single-footer h5{
    margin-bottom: 25px;
    letter-spacing: 3px;
}
.single-footer-2 p{
    margin: 15px;
}
.single-footer-2 a{
    text-decoration: none;
    color: white;
}
.single-footer-3 ul{
    display: flex;
}
.single-footer-3 ul li{
    list-style-type: none;
}
.single-footer-3 ul li a{
    text-decoration: none;
    color: white;
    margin: 0 5px;
    background-color: #0a273863;
    padding: 8px;
}
.single-footer h5 span{
    color: yellow;
}






@media only screen and (max-width: 688px) {
    .card-parents{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        width: 100%;
    }
    .smart-parent{
        margin-left: 30px;
        margin-right: 30px;
        display: block;
    }
    .smart-image img{
        width: 100%;
        margin-bottom: 50px;
    }
    /* about section code start here  */
    #about-parents{
        display: block;
        margin-left: 30px;
        margin-right: 30px;
    }
    .about-single-iteam-prents{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        margin-top: 50px;
    }
    /* about section code finshed  */
    /* 4th section / advice section code start  */
    .advice-parents{
        display: block;
        margin: 0 30px 0 30px;
    }
    .advice-icon{
        text-align: left;
    }
    .advice-icon a{
        margin: 10px 5px;
    }
    .single-advice h3{
        margin-top: 50px;
    }
    /* 4th section / advice section code finshed  */
    /* contract section start  */


    form{
        background-color: #1aaa3955;
        max-width: 95%;
        padding: 20px 30px;
    }
    /* contract section finshed  */
    /* 6th section code start  */
    .match-parents{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 30px;
        margin-right: 30px;
        grid-gap: 25px;
    }
    .first-class{
        text-align: center;
    }
    /* finshed code  */
         /* Start Footer Section */

         #footer-parent{
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            margin-right: 30px;
       }
       .single-footer{
            text-align: center;
       }
       .single-footer-3 ul{
            display: flex;
            justify-content: center;
       }

}

@media only screen and (min-width: 689px) and (max-width: 1099px) {
    .card-parents{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        width: 100%;
    }
    .smart-parent{
        margin-left: 70px;
        margin-right: 70px;
        display: block;
    }
    .smart-image img{
        width: 100%;
        margin-bottom: 70px;
    }
    /* about section code start here  */
    #about-parents{
        display: block;
        margin-left: 70px;
        margin-right: 70px;
    }
    .about-single-iteam-prents{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        margin-top: 50px;
    }
    /* about section code finshed  */

     /* 4th section / advice section code start  */
     .advice-parents{
        display: flex;
        margin: 0 70px 0 70px;
    }
    .advice-icon{
        text-align: left;
    }
    .advice-icon a{
        margin: 10px 5px;
    }
    /* finshes advice section  */
        /* contract section start  */


        form{
            background-color: #1aaa3955;
            max-width: 90%;
            padding: 40px 50px;
        }
        /* contract section finshed  */
    /* 6th section code start  */
    .match-parents{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 70px;
        margin-right: 70px;
        grid-gap: 35px;
    }
         /* Start Footer Section code */

         #footer-parent{
            margin-left: 70px;
            margin-right: 70px;
       }
}
